<a href="https://colab.research.google.com/github/Ralph2g/Pandas_course/blob/master/3_Save_%26_Load.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
%cd '/content/drive/My Drive/Colab Notebooks'
!ls

/content/drive/My Drive/Colab Notebooks
db  hoyo-del-crimen.ipynb  Pandas_Course

In [0]:
!mkdir /content/drive/My\ Drive/Colab\ Notebooks/db

mkdir: cannot create directory ‘/content/drive/My Drive/Colab Notebooks/db’: File exists

In [0]:
dir_pandas = '/content/drive/My Drive/Colab Notebooks/db/{}'.format('test.csv')
dir_pandas

'/content/drive/My Drive/Colab Notebooks/db/test.csv'

In [0]:
import pandas as pd
pd.__version__
import numpy as np

In [0]:
dict_data = {
    'edad' :     [ 10, 9, 13, 14, 12, 11, 12],
    'cm' : [ 115, 110, 130, 155, 125, 120, 125],
    'pais' :    [ 'co', 'mx', 'co', 'mx', 'mx', 'ch', 'ch'],
    'genero' :  [ 'M', 'F', 'F', 'M', 'M', 'M', 'F'],
    'Q1' : [ 5, 10, 8, np.nan, 7, 8, 3],
    'Q2' : [ 7, 9, 9, 8, 8, 8, 9.]
}
dict_data

{'Q1': [5, 10, 8, nan, 7, 8, 3],
 'Q2': [7, 9, 9, 8, 8, 8, 9.0],
 'cm': [115, 110, 130, 155, 125, 120, 125],
 'edad': [10, 9, 13, 14, 12, 11, 12],
 'genero': ['M', 'F', 'F', 'M', 'M', 'M', 'F'],
 'pais': ['co', 'mx', 'co', 'mx', 'mx', 'ch', 'ch']}

In [0]:
df = pd.DataFrame(dict_data)

In [0]:
dir_pandas = '/content/drive/My Drive/Colab Notebooks/db/{}'.format('test.csv')
dir_pandas

'/content/drive/My Drive/Colab Notebooks/db/test.csv'

In [0]:
df.to_csv(dir_pandas)

In [0]:
#Para borrar el indice del csv
df.to_csv(dir_pandas,index=False)

In [0]:
df_read = pd.read_csv('/content/drive/My Drive/Colab Notebooks/db/test.csv')

In [0]:
df_read

   edad   cm pais genero    Q1   Q2
0    10  115   co      M   5.0  7.0
1     9  110   mx      F  10.0  9.0
2    13  130   co      F   8.0  9.0
3    14  155   mx      M   NaN  8.0
4    12  125   mx      M   7.0  8.0
5    11  120   ch      M   8.0  8.0
6    12  125   ch      F   3.0  9.0

In [0]:
df.to_csv(dir_pandas,sep='|',index=False)

In [0]:
df_read = pd.read_csv('/content/drive/My Drive/Colab Notebooks/db/test.csv',sep='|')

In [0]:
df_read

   edad   cm pais genero    Q1   Q2
0    10  115   co      M   5.0  7.0
1     9  110   mx      F  10.0  9.0
2    13  130   co      F   8.0  9.0
3    14  155   mx      M   NaN  8.0
4    12  125   mx      M   7.0  8.0
5    11  120   ch      M   8.0  8.0
6    12  125   ch      F   3.0  9.0

In [0]:
dir_pandas = '/content/drive/My Drive/Colab Notebooks/db/{}'
dir_pandas

'/content/drive/My Drive/Colab Notebooks/db/{}'

In [0]:
df.to_excel(dir_pandas.format('test.xlsx'),index=False,sheet_name='Hoja 1')

In [0]:
pd.read_excel(dir_pandas.format('test.xlsx'))

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

In [0]:
df.to_json(dir_pandas.format('test.json'))

In [0]:
pd.read_json(dir_pandas.format('test.json'))

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

In [0]:
df.to_pickle(dir_pandas.format('test.pkl'))

In [0]:
pd.read_pickle(dir_pandas.format('test.pkl'))

   edad   cm pais genero    Q1   Q2
0    10  115   co      M   5.0  7.0
1     9  110   mx      F  10.0  9.0
2    13  130   co      F   8.0  9.0
3    14  155   mx      M   NaN  8.0
4    12  125   mx      M   7.0  8.0
5    11  120   ch      M   8.0  8.0
6    12  125   ch      F   3.0  9.0