<a href="https://colab.research.google.com/github/Ralph2g/Pandas_course/blob/master/5_Maths.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive/')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive/

In [2]:
%cd '/content/drive/My Drive/Colab Notebooks/db'
!ls

/content/drive/My Drive/Colab Notebooks/db
london_merged.csv	test.csv   test.pkl
Meteorite_Landings.csv	test.json  test.xlsx

In [0]:
import pandas as pd
import numpy as np

In [4]:
df_lmerged = pd.read_csv('london_merged.csv')
df_lmerged

                 timestamp   cnt   t1  ...  is_holiday  is_weekend  season
0      2015-01-04 00:00:00   182  3.0  ...         0.0         1.0     3.0
1      2015-01-04 01:00:00   138  3.0  ...         0.0         1.0     3.0
2      2015-01-04 02:00:00   134  2.5  ...         0.0         1.0     3.0
3      2015-01-04 03:00:00    72  2.0  ...         0.0         1.0     3.0
4      2015-01-04 04:00:00    47  2.0  ...         0.0         1.0     3.0
...                    ...   ...  ...  ...         ...         ...     ...
17409  2017-01-03 19:00:00  1042  5.0  ...         0.0         0.0     3.0
17410  2017-01-03 20:00:00   541  5.0  ...         0.0         0.0     3.0
17411  2017-01-03 21:00:00   337  5.5  ...         0.0         0.0     3.0
17412  2017-01-03 22:00:00   224  5.5  ...         0.0         0.0     3.0
17413  2017-01-03 23:00:00   139  5.0  ...         0.0         0.0     3.0

[17414 rows x 10 columns]

In [5]:
df_lmerged.dtypes

timestamp        object
cnt               int64
t1              float64
t2              float64
hum             float64
wind_speed      float64
weather_code    float64
is_holiday      float64
is_weekend      float64
season          float64
dtype: object

In [6]:
df_lmerged['timestamp'] = pd.to_datetime(df_lmerged['timestamp'])
df_lmerged['timestamp']

0       2015-01-04 00:00:00
1       2015-01-04 01:00:00
2       2015-01-04 02:00:00
3       2015-01-04 03:00:00
4       2015-01-04 04:00:00
                ...
17409   2017-01-03 19:00:00
17410   2017-01-03 20:00:00
17411   2017-01-03 21:00:00
17412   2017-01-03 22:00:00
17413   2017-01-03 23:00:00
Name: timestamp, Length: 17414, dtype: datetime64[ns]

In [7]:
df_lmerged.dtypes

timestamp       datetime64[ns]
cnt                      int64
t1                     float64
t2                     float64
hum                    float64
wind_speed             float64
weather_code           float64
is_holiday             float64
is_weekend             float64
season                 float64
dtype: object

In [8]:
# nueva columna llamada hora 
df_lmerged['hour'] = df_lmerged['timestamp'].dt.hour
df_lmerged['hour']

0         0
1         1
2         2
3         3
4         4
         ..
17409    19
17410    20
17411    21
17412    22
17413    23
Name: hour, Length: 17414, dtype: int64

In [0]:
df = df_lmerged.iloc[:,1:]

In [10]:
df

        cnt   t1   t2    hum  ...  is_holiday  is_weekend  season  hour
0       182  3.0  2.0   93.0  ...         0.0         1.0     3.0     0
1       138  3.0  2.5   93.0  ...         0.0         1.0     3.0     1
2       134  2.5  2.5   96.5  ...         0.0         1.0     3.0     2
3        72  2.0  2.0  100.0  ...         0.0         1.0     3.0     3
4        47  2.0  0.0   93.0  ...         0.0         1.0     3.0     4
...     ...  ...  ...    ...  ...         ...         ...     ...   ...
17409  1042  5.0  1.0   81.0  ...         0.0         0.0     3.0    19
17410   541  5.0  1.0   81.0  ...         0.0         0.0     3.0    20
17411   337  5.5  1.5   78.5  ...         0.0         0.0     3.0    21
17412   224  5.5  1.5   76.0  ...         0.0         0.0     3.0    22
17413   139  5.0  1.0   76.0  ...         0.0         0.0     3.0    23

[17414 rows x 10 columns]

In [11]:
df['wind_speed']**2 + 10

0         46.00
1         35.00
2         10.00
3         10.00
4         52.25
          ...
17409    371.00
17410    451.00
17411    586.00
17412    539.00
17413    494.00
Name: wind_speed, Length: 17414, dtype: float64

In [12]:
np.sin(df['wind_speed']**2) + 10

0         9.008221
1         9.867648
2        10.000000
3        10.000000
4         9.013013
           ...
17409    10.279387
17410    10.923470
17411     9.114047
17412    10.936473
17413    10.193503
Name: wind_speed, Length: 17414, dtype: float64

In [13]:
df['t1'] - df['t2']

0        1.0
1        0.5
2        0.0
3        0.0
4        2.0
        ...
17409    4.0
17410    4.0
17411    4.0
17412    4.0
17413    4.0
Length: 17414, dtype: float64

In [14]:
#Selecciona los indices de 3 en 3 
df['t1'].iloc[::3]

0        3.0
3        2.0
6        1.0
9        2.0
12       2.0
        ...
17400    3.0
17403    6.0
17406    6.0
17409    5.0
17412    5.5
Name: t1, Length: 5805, dtype: float64

In [15]:
df['t1'].iloc[::3] - df['t2']

0        1.0
1        NaN
2        NaN
3        0.0
4        NaN
        ...
17409    4.0
17410    NaN
17411    NaN
17412    4.0
17413    NaN
Length: 17414, dtype: float64

In [18]:
# Para completar las variables nulas lo que tendremos que hacer es lo siguiente
df['t1'].iloc[::3].sub(df['t2'],fill_value = 1000)

0           1.0
1         997.5
2         997.5
3           0.0
4        1000.0
          ...
17409       4.0
17410     999.0
17411     998.5
17412       4.0
17413     999.0
Length: 17414, dtype: float64



```
+    add()
-    sub(), subtract()
*    mul(), multiply()
/    truediv(), div(), divide()
//   floordiv()
%    mod()
**   pow()
```